@model ChangePasswordModel

@{
    ViewData["Title"] = "Change Password";
}

<h3>RESET YOUR PASSWORD</h3>
<br />

@if (Model.AskForUsername)
{
    <h5 style="color:midnightblue;border-block-color:darkgrey">Enter Username:</h5>
    <form asp-action="IsUsernameValid" method="post">
        <label asp-for="Username">Username:</label>
        <input type="text" asp-for="Username" required />
        <button type="submit">Submit</button>
    </form>
}
else if (Model.IsUsernameValid)
{
    <h5 style="color:midnightblue;border-block-color:darkgrey">Security Question:</h5>
    <p>@Model.SecurityQuestion</p>
    <form asp-action="IsSecurityAnswerValid" method="post">
        <input type="hidden" asp-for="Username" value="@Model.Username" /> 
        <label asp-for="SecurityAnswer">Answer:</label>
        <input type="text" asp-for="SecurityAnswer" required />
        <button type="submit">Submit</button>
    </form>
}
else if (Model.IsSecurityAnswerValid)
{
    <h5 style="color:midnightblue;border-block-color:darkgrey">Change Password:</h5>
    <form asp-action="UpdatePassword" method="post">
        <input type="hidden" asp-for="Username" value="@Model.Username" />
        <label asp-for="NewPassword">New Password:</label>
        <input type="password" asp-for="NewPassword" required />
        <button type="submit">Change Password</button>
    </form>
}
else if (Model.PasswordChanged)
{
    <p style="color:forestgreen">Password changed successfully...!!!</p>
   
}
<p>
    <div>
        <a asp-action="Index">Click here to Login</a>
    </div>
</p>


<div>

    @if (!string.IsNullOrEmpty(ViewBag.Message))
    {
        <br />
        <br />
        <p style="font-family: Cambria; font-weight:bold; color:red">@ViewBag.Message</p>
    }

</div>