@model DayMaster.Models.User

@{
    ViewData["Title"] = "Index";
}

<style>
   
    .con{
        text-align:center;
    }
    .design {
        width: 500px;
        height: 500px;
    }
    form{
        border: 1px solid;
        padding: 15px;
        background-color: lightblue;
        box-shadow:  5px 5px 0 0;
    }
</style>

<h5>Login to your Account</h5>
<br/>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="userName" class="control-label">User Name</label>
                <input asp-for="userName" class="form-control" />
                <span asp-validation-for="userName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password" class="control-label">Password</label>
                <input asp-for="password" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
                <input type="reset" value="Reset" class="btn btn-primary" />
            </div>
        </form>

        @if (!string.IsNullOrEmpty(ViewBag.Message))
        {
            <br />
            <br />
            <p style="font-family: Cambria; font-weight:bold; color:red">@ViewBag.Message</p>
        }
        <br />
        <br />
        <div>
            <p>Are you a new user? If Yes, <a asp-action="Create">Click here to Register</a></p>
        </div>

        <div>
            <p>Forgot your password?, <a asp-action="forgotPwd">Click here to Reset Password</a></p>
        </div>

    </div>
    <div class="col-md-8 con">
        <img class="design" src="./images/logo.png" />
    </div>
</div>
